<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование сотрудника</title>
</head>

<body>
<form th:method="PATCH" th:action="@{/staff/{id}(id=${staff.getId()})}" th:object="${staff}">
    <label for="username">Введите username: </label>
    <input type="text" th:field="*{username}" id="userName"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Некорректный userName</div>
    <br/>
    <label for="fullName">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Некорректное ФИО</div>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Некорректный пароль</div>
    <br/>
    <select name="role">
        <option
                th:each="role : ${T(ru.dob.library.WebLibrary.models.Role).values()}"
                th:text="${role.displayText}"
                th:value="${role.name()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Сохранить">
</form>
<a href="/hello">Домашняя страница</a>
</body>
</html>