<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о сотруднике</title>
</head>
<body>
<p th:text="${staff.getFullName() + ', ' + staff.getUsername() + ', ' + staff.getRole()}">VALUE</p>
<form th:method="GET" th:action="@{/staff/{id}/edit(id=${staff.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/staff/{id}(id=${staff.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>