<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации о посетителе</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${visitor.getId()})}" th:object="${visitor}">
    <label for="fullName">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Некорректное ФИО</div>
    <br/>
    <label for="yearOfBirth">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Год рождения введён не верно</div>
    <br/>
    <label for="number">Введите номер: </label>
    <input type="text" th:field="*{number}" id="number"/>
    <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Номер телефона введён не верно</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>
<a href="/hello">Домашняя страница</a>
</body>
</html>